
#cardsGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(146, 183, 237, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(148, 141, 244, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 20px 5px rgba(180, 165, 165, 0.9));
    width: 380px;
    height: 540px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: all 0.4s ease;
}

.card:hover{

    transform: translate(-0.6rem, -1ex);
}

.card-image{
    width: 340px;
    height: 380px;
    margin: 0 auto;
    border-radius: 12px;
}

.card-info{
    width: 330px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-info h3{
    font-size: 25px;
    margin: 0;
}
.card-info h4{
    font-size: 22px;
    text-decoration: line-through;
}
.card-info p{
    font-size: 20px;
    color: red;
}

.view-btn{
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: 1px solid blue;
    color:  blue;
    font-weight: bold;
    background: transparent;
}

.view-btn:hover{
    color: red;
    border: 2px solid red;
    background: rgba(240, 238, 238, 0.473)
}


